<!DOCTYPE html>
<html lang="en" style="" class="js csstransforms3d">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
    <![endif]-->
    <title>
        Bikini Beach
    </title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=0" name="viewport">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ann-shop/jquery")
    @Scripts.Render("~/bundles/ann-shop/jquery/utils")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/ann-shop/css")
</head>
<body class="index">
    <div class="">
        <!-- MENU MOBILE -->
        @{ Html.RenderAction("GetMobileMenu"); }
        <!-- TOP MENU MAIN -->
        @{ Html.RenderAction("GetTopMenu"); }
        <!-- HEADER MENU -->
        @{ Html.RenderAction("GetHeaderMenu"); }
        <!-- MAIN CONTENT -->
        @RenderBody()
        <!-- FOOTER MENU -->
        @Html.Partial("~/Views/Menu/_FooterMenu.cshtml")

        <div id="myCart" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">
                            Bạn có <b></b> sản phẩm trong giỏ hàng
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <a aria-hidden="true"></a>
                        </button>
                    </div>
                    <form action="/cart" method="post" id="cartform">
                        <div class="modal-body">
                            <table style="width:100%;" id="cart-table">
                                <tr>
                                    <th></th>
                                    <th>Tên sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Giá tiền</th>
                                    <th></th>
                                </tr>
                                <tr class="line-item original">
                                    <td class="item-image"></td>
                                    <td class="item-title">
                                        <a></a>
                                    </td>
                                    <td class="item-quantity"></td>
                                    <td class="item-price"></td>
                                    <td class="item-delete text-center"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="modal-note">
                                        <textarea placeholder="Viết ghi chú" id="note" name="note" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="total-price-modal">
                                        Tổng cộng : <span class="item-total"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px;">
                                <div class="col-lg-6">
                                    <div class="comeback">
                                        <a href="/collections/all">
                                            <img src="@Url.Content("~/images/icon-tieptuc.png")" />Tiếp tục mua hàng
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 text-right">
                                    <div class="buttons btn-modal-cart">
                                        <button type="submit" class="button-default" id="checkout" name="checkout">
                                            Đặt hàng
                                        </button>
                                    </div>
                                    <div class="buttons btn-modal-cart">
                                        <button type="submit" class="button-default" id="update-cart-modal" name="">
                                            Cập nhật
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="wrapper-quickview">
            <div class="">
                <div class="quickview-image">
                    <img src="" alt="">
                </div>
                <div id="quickview-sliderproduct">
                    <div class="quickview-slider owl-carousel">
                    </div>
                </div>
            </div>
            <div class="">
                <form id="form-quickview" method="post" action="/cart/add">
                    <div class="quickview-information">
                        <div class="quickview-close">
                            <a href="javascript:void(0);"><i class="fa fa-times"></i></a>
                        </div>
                        <a href="#" class="quickview-title" title="">
                            <h2></h2>
                        </a>
                        <div class="quickview-price">
                            <span></span><del></del>
                        </div>
                        <div class="quickview-variants variant-style clearfix">
                            <div class="selector-wrapper opt1-quickview">
                                <label></label>
                                <ul class="data-opt1-quickview clearfix style-variant-template"></ul>
                            </div>
                            <div class="selector-wrapper opt2-quickview">
                                <label></label>
                                <ul class="data-opt2-quickview clearfix style-variant-template"></ul>
                            </div>
                            <div class="selector-wrapper opt3-quickview">
                                <label></label>
                                <ul class="data-opt3-quickview clearfix style-variant-template"></ul>
                            </div>
                            <style>
                                .selector-wrapper:not(.opt1):not(.opt1-quickview):not(.opt2):not(.opt2-quickview):not(.opt3):not(.opt3-quickview) {
                                    display: none;
                                }
                            </style>
                            <select name="id" class="" id="quickview-select"></select>
                            <div class="clearfix">
                                <button class="btn-style-add">Thêm vào giỏ</button>
                            </div>
                        </div>
                        <div class="quickview-description"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="back-to-top">
            <a href="javascript:void(0);">
                <svg class="ico-back-top div-user-control control-4">
                    <use xlink:href="#ico-scrollUp-bottom"></use>
                </svg>
            </a>
        </div>
    </div>

    @Scripts.Render(Url.Content("/Scripts/ann-shop/index/index.js"))
    @RenderSection("scripts", required: false)
</body>
</html>
