@using System.Text
@using ann_shop.Models

@{
    #region Create data banner for block1 product
    var banner_block1 = new BannerModel()
    {
        url = "#",
        image = new ImageModel()
        {
            small = "~/images/tab01.jpg"
        },
        banner_text_1 = "#Deal nổi bật",
        banner_text_2 = "#Đồ bơi bikini"
    };
    #endregion

    #region Create data banner for block2 product
    var banner_block2 = new BannerModel()
    {
        url = "#",
        image = new ImageModel()
        {
            small = "~/images/tab02.jpg"
        },
        banner_text_1 = "#Deal tuần này",
        banner_text_2 = "#Phụ kiện đồ bơi"
    };
    #endregion
}

<div class="container-wrap homepage-page">
    @Html.Partial("_Slider")
    <div id="content">
        <main>
            @Html.Action("GetHtmlStringShortCode", "ShortCode", new { name = "home-service" })
            @Html.Partial("_Banner")
            <!-- Block 1 Tab Product -->
            <div class="block01-tab-product mg-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="home-products-block bh-products">
                                    <div class="home-products-block-content">
                                        <div class="home-products-slider product-box-list box-product-lists">
                                            <div class="col-lg-6 shown hidden-md hidden-sm hidden-xs ">
                                                <div class="banner-product left">
                                                    <h4 class="noo-attach">@banner_block1.banner_text_1</h4>
                                                    <h2 class="noo-sh-title">@banner_block1.banner_text_2</h2>
                                                    <a href="@banner_block1.url">
                                                        <img src="@Url.Content(banner_block1.image.small)" class="attachment-full size-full" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="wrap-tabs   col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                <div class="menu-slider swiper-container">
                                                    <ul class="box-tabs nav nav-tabs clearfix" id="home-tab-collection-1">
                                                        <li class="active">
                                                            <a href="#tab1" data-toggle="tab" data-handle="frontpage">Bikini một mảnh</a>
                                                        </li>
                                                        <li>
                                                            <a href="#tab2" data-toggle="tab" data-handle="hot-products">Bikini hai mảnh</a>
                                                        </li>
                                                        <li>
                                                            <a href="#tab3" data-toggle="tab" data-handle="onsale">Bikini cạp cao</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="tab-content tabs-products row">
                                                    <div class="tab-item active" id="tab1" data-get="true">
                                                        <div class="product-lists owl-carousels">
                                                            @{ Html.RenderAction("GetPartialProductInCategory", "Product", new { view_name = "~/Views/Home/_BlockProduct.cshtml", category_slug = "bikini-mot-manh", limit = 4 }); }
                                                        </div>
                                                    </div>
                                                    <div class="tab-item" id="tab2" data-get="true">
                                                        <div class="product-lists owl-carousels">
                                                            @{ Html.RenderAction("GetPartialProductInCategory", "Product", new { view_name = "~/Views/Home/_BlockProduct.cshtml", category_slug = "bikini-hai-manh", limit = 4 }); }
                                                        </div>
                                                    </div>
                                                    <div class="tab-item" id="tab3" data-get="true">
                                                        <div class="product-lists owl-carousels">
                                                            @{ Html.RenderAction("GetPartialProductInCategory", "Product", new { view_name = "~/Views/Home/_BlockProduct.cshtml", category_slug = "bikini-cap-cao", limit = 4 }); }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Block 2 Tab Product -->
            <div class="block02-tab-product mg-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="home-products-block bh-products">
                                    <div class="home-products-block-content">
                                        <div class="home-products-slider product-box-list box-product-lists">
                                            <div class="wrap-tabs col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                <div class="menu-slider swiper-container">
                                                    <ul class="box-tabs nav nav-tabs clearfix" id="home-tab-collection02">
                                                        <li class="active">
                                                            <a href="#tab1_02" data-toggle="tab" data-handle="hot-products">Khắn tắm</a>
                                                        </li>
                                                        <li>
                                                            <a href="#tab2_02" data-toggle="tab" data-handle="onsale">Kính bơi</a>
                                                        </li>
                                                        <li>
                                                            <a href="#tab2_03" data-toggle="tab" data-handle="frontpage">Mũ bơi</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="tab-content tabs-products row">
                                                    <div class="tab-item active" id="tab1_02" data-get="true">
                                                        <div class="product-lists ">
                                                            @{ Html.RenderAction("GetPartialProductInCategory", "Product", new { view_name = "~/Views/Home/_BlockProduct.cshtml", category_slug = "khan-tam", limit = 4 }); }
                                                        </div>
                                                    </div>
                                                    <div class="tab-item" id="tab2_02" data-get="true">
                                                        <div class="product-lists">
                                                            @{ Html.RenderAction("GetPartialProductInCategory", "Product", new { view_name = "~/Views/Home/_BlockProduct.cshtml", category_slug = "kinh-boi", limit = 4 }); }
                                                        </div>
                                                    </div>
                                                    <div class="tab-item" id="tab2_03" data-get="true">
                                                        <div class="product-lists ">
                                                            @{ Html.RenderAction("GetPartialProductInCategory", "Product", new { view_name = "~/Views/Home/_BlockProduct.cshtml", category_slug = "mu-boi", limit = 4 }); }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 shown hidden-md hidden-sm hidden-xs ">
                                                <div class="banner-product right">
                                                    <h4 class="noo-attach">@banner_block2.banner_text_1</h4>
                                                    <h2 class="noo-sh-title">@banner_block2.banner_text_2</h2>
                                                    <a href="@banner_block2.url">
                                                        <img src="@Url.Content(banner_block2.image.small)" class="attachment-full size-full" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Action("GetHtmlStringShortCode", "ShortCode", new { name = "home-banner-about" })
            <!-- Block 3 Product -->
            <div class="block03-product pr-carousel mg-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div id="coll-index-3" class="coll-index-3">
                                <div class="coll-index-inner">
                                    <div class="coll-index-title title-home">
                                        <div class="line-wrap">
                                            <span class="left-line"></span>
                                            <span class="title">
                                                Sản phẩm mới
                                                <span class="title-separator">
                                                    <span>
                                                    </span>
                                                </span>
                                            </span>
                                            <span class="right-line"></span>
                                            <span class="title-after_title">Những dòng sản phẩm mới nổi được các bạn trẻ yêu thích</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
                                            <div class="home-products-block bh-products row">
                                                <div class="home-products-block-content">
                                                    <div class="home-products-slider product-box-list box-product-lists cat-grid  ">
                                                        @{ Html.RenderAction("GetPartialProductNew", "Product", new { view_name = "~/Views/Home/_Product.cshtml", limit = 8 }); }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("_Blog")
        </main>
    </div>
</div>